@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inika";
  src: url("/assets/fonts/Inika/Inika-Regular.ttf");
}
@font-face {
  font-family: "Inika";
  src: url("/assets/fonts/Inika/Inika-Bold.ttf");
  font-weight: bold;
}
:root {
  font-size: 62.5%;
  box-sizing: border-box;
  --text-color: #636060;
  --base-color: #499A18;
  --accent-color: #E06733;
  --bg-color: #EDF2EC;
  --title-color: #717171;
  --nav-links-color: #010201;
  --brdr-color: #E3E1D5;
}

.header {
  height: 13.4rem;
  background-color: var(--bg-color, #EDF2EC);
}

.logo {
  display: inline-block;
  padding: 3.2rem;
  width: 6.8rem;
  height: 3.2rem;
  background-image: url("/assets/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.container {
  width: 122.2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container__nav {
  height: 100%;
  align-items: center;
}
.container__welcome {
  padding: 5.5rem 0 6.3rem;
}
.container__about {
  padding: 9.3rem 0 9.4rem;
}
.container__service {
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0 12.1rem;
}

.nav__list {
  list-style: none;
  display: flex;
}
.nav__link {
  color: var(--nav-links-color, #010201);
  font-family: "Inika", sans-serif;
  font-size: 1.6rem;
  line-height: 3.125;
  padding: 3.2rem 4.7rem;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.nav__link:last-child {
  padding-right: 0;
}
.nav__link:hover, .nav__link_hover {
  color: var(--accent-color, #E06733);
}
.nav__link:active, .nav__link_active {
  color: var(--accent-color, #E06733);
  font-weight: bold;
}

.welcome {
  background-color: var(--bg-color, #EDF2EC);
}
.welcome__image {
  background-image: url("/assets/images/welcome/leafs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 44.9rem;
  height: 40.7rem;
  margin-top: 0.7rem;
}
.welcome__title {
  margin: 0;
  color: var(--title-color, #717171);
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.11;
}

.column {
  display: flex;
  flex-direction: column;
}
.column__welcome {
  max-width: 54.9rem;
  margin-top: 4.3rem;
}
.column__about {
  max-width: 60.5rem;
  margin-top: 6.8rem;
}

.row {
  display: flex;
}
.row__service {
  gap: 14.2rem;
}
.row__button-list {
  gap: 3.8rem;
  align-items: center;
  margin-top: 0.3rem;
}

.text {
  margin: 0;
  color: var(--text-color, #636060);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1.75;
}
.text__accent {
  color: var(--base-color, #499A18);
}
.text__welcome {
  max-width: 52.5rem;
  margin-top: 4.4rem;
  margin-bottom: 4.72rem;
}
.text__about {
  line-height: 1.5;
  margin-top: 3.8rem;
}

.button {
  padding: 0;
  color: var(--accent-color, #E06733);
  border: 0.1rem solid var(--accent-color, #E06733);
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: "Inika", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  cursor: pointer;
  width: 16.1rem;
  height: 5rem;
  transition: all 0.3s ease-out;
}
.button__accent {
  color: black;
  border-width: 0.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  width: 15.8rem;
  height: 4.4rem;
}
.button:hover, .button:active, .button_active {
  color: white;
  background-color: var(--accent-color, #E06733);
}

.subtitle {
  margin: 0;
  color: var(--base-color, #499A18);
  font-family: "Inika", sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.3;
}
.subtitle__accent {
  color: var(--accent-color, #E06733);
}
.subtitle__about {
  max-width: 46.3rem;
}
.subtitle__service {
  max-width: 30.6rem;
}

.service {
  background-color: var(--bg-color, #EDF2EC);
}

.card {
  width: 33rem;
  height: 45rem;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  grid-row-gap: 5.5rem;
}
.card__image {
  width: 33rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid var(--brdr-color, #E3E1D5);
  border-radius: 0 0 2rem 2rem;
}
.card__title {
  margin: 0.9rem 0 0;
  color: var(--accent-color, #E06733);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}
.card__text {
  margin: 1.5rem 0 3.6rem;
  color: var(--text-color, #636060);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
}/*# sourceMappingURL=styles.css.map */