@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika/Inika-Regular.ttf');
}

@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika/Inika-Bold.ttf');
    font-weight: bold;
}

:root {
    font-size: 62.5%;

    --text-color: #636060;
    --base-color: #499A18;
    --accent-color: #E06733;
    --bg-color: #EDF2EC;
    --title-color: #717171;
    --nav-links-color: #010201;
    --brdr-color: #E3E1D5;
    --prices-color: #000000;
    --hr-color: #AEA1A1;
    --drop-btn-active: #8BA07E;
    --accordion-bg: #D6E7D2;
    --dropdown-button-color: #C1E698;

    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.header {
    background-color: var(--bg-color, #EDF2EC);
}

.logo {
    display: block;

    width: 6.8rem;
    height: 3.2rem;

    background-image: url('../icons/logo.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.container {
    max-width: 122.2rem;

    margin: auto;

    display: flex;
    justify-content: space-between;

    &__nav {
        height: 13.4rem;

        padding: 0;

        align-items: center;
    }

    &__welcome {
        padding: 5.5rem 0 6.3rem;
    }

    &__about {
        padding: 9.3rem 0 9.4rem;
    }

    &__service {
        flex-direction: column;
        gap: 8rem;

        padding: 4rem 0 12.1rem;
    }

    &__prices {
        padding: 3.7rem 0 11.5rem;
    }

    &__contacts {
        padding-top: 4.5rem;
    }

    &__cities {
        padding-top: 8.8rem;
    }

    &__info {
        padding-bottom: 1.8rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        grid-column-gap: 1.6rem;
    }

    &__footer {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.nav {
    &__list {
        margin: 0;
        padding: 0;

        list-style: none;

        display: flex;
    }

    &__link {
        color: var(--nav-links-color, #010201);

        font-family: 'Inika', sans-serif;
        font-size: 1.6rem;
        line-height: 3.125;

        padding: 2.5rem 2.35rem;

        text-decoration: none;

        transition: all 0.3s ease-out;

        &_last:last-child {
            padding-right: 0;
        }

        &:hover,
        &_hover {
            color: var(--accent-color, #E06733);
        }

        &:active,
        &_active {
            color: var(--accent-color, #E06733);

            font-weight: bold;
        }
    }


}


.welcome {
    background-color: var(--bg-color, #EDF2EC);

    &__image {
        background-image: url('../images/welcome/leafs.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        width: 44.9rem;
        height: 40.7rem;

        margin-top: 0.7rem;
    }

    &__title {
        margin: 0;

        color: var(--title-color, #717171);

        font-family: 'Inter', sans-serif;
        font-size: 4.5rem;
        font-weight: bold;
        line-height: 1.11;
    }
}

.column {
    display: flex;
    flex-direction: column;

    &__welcome {
        max-width: 54.9rem;

        margin-top: 4.3rem;
    }

    &__about {
        max-width: 60.5rem;

        margin-top: 6.8rem;
    }

    &__prices {

        &-left {
            gap: 6rem;
        }

        &-right {
            text-align: right;
            align-items: end;
        }
    }

    &__contacts {
        margin-top: 1.5rem;

        width: 70.9rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }
}

.row {
    display: flex;

    &__service {
        gap: 14.2rem;
    }

    &__button-list {
        gap: 3.8rem;

        align-items: center;
        margin-top: 0.3rem;
    }
}


.text {
    margin: 0;

    color: var(--text-color, #636060);

    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: 1.75;

    &__accent {
        color: var(--base-color, #499A18);
    }

    &__welcome {
        max-width: 52.5rem;

        margin-top: 4.4rem;
        margin-bottom: 4.72rem;
    }

    &__about {
        line-height: 1.5;

        margin-top: 3.8rem;
    }

}

.button {
    padding: 0;
    color: var(--accent-color, #E06733);

    border: 0.1rem solid var(--accent-color, #E06733);
    border-radius: 0.5rem;

    background-color: transparent;

    font-family: 'Inika', sans-serif;
    font-size: 2rem;
    line-height: 1.3;

    cursor: pointer;

    width: 16.1rem;
    height: 5rem;

    transition: all 0.3s ease-out;

    &__accent {
        color: black;

        border-width: 0.2rem;
        border-radius: 1rem;
        text-transform: uppercase;

        font-family: 'Inter', sans-serif;
        font-size: 1.6rem;
        line-height: 1.25;

        width: 15.8rem;
        height: 4.4rem;
    }

    &:hover,
    &:active,
    &_active {
        color: white;
        background-color: var(--accent-color, #E06733);
    }
}

.subtitle {
    margin: 0;

    color: var(--base-color, #499A18);

    font-family: 'Inika', sans-serif;
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.3;

    &__accent {
        color: var(--accent-color, #E06733);
    }

    &__about {
        max-width: 46.3rem;
    }

    &__service {
        max-width: 30.6rem;

        flex-shrink: 0;
    }

    &__prices {
        color: var(--prices-color, #000000);

        font-family: 'Inter', sans-serif;
        font-weight: bold;

        max-width: 45.2rem;

        &_accent {
            color: var(--base-color, #499A18);
        }
    }

    &__contacts {
        font-weight: bold;
    }
}

.service {
    background-color: var(--bg-color, #EDF2EC);
}

.card {
    width: 33rem;
    height: 45rem;

    display: flex;
    flex-direction: column;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);

        justify-content: space-between;

        grid-row-gap: 5.5rem;
    }

    &__image {
        border-radius: 2rem 2rem 0 0;

        width: 33rem;
        height: 35rem;
        object-fit: cover;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        border: 0.1rem solid var(--brdr-color, #E3E1D5);
        border-radius: 0 0 2rem 2rem;
    }

    &__title {
        margin: 0.9rem 0 0;

        color: var(--accent-color, #E06733);

        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
    }

    &__text {
        margin: 1.5rem 0 3.6rem;

        color: var(--title-color, #717171);

        font-family: 'Inter', sans-serif;
        font-size: 1.6rem;
        line-height: 1.25;
    }
}

.prices {
    &__button {
        font-weight: bold;

        margin-top: 3.8rem;
        margin-bottom: 3.8rem;
    }

    &__image {
        background-image: url("../images/prices/leafs.jpg");
        background-repeat: no-repeat;

        width: 15.2rem;
        height: 17.5rem;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    border: 0.1rem solid var(--brdr-color, #E3E1D5);
    border-radius: 2rem;

    padding: 3.1rem 4.1rem;

    .drop-icon {
        transition: all 0.3s ease-out;

        transform: rotate(0deg);
    }

    .drop-icon>circle {
        transition: all 0.3s ease-out;

        fill: #D9D9D9;
    }

    .drop-icon path {
        transition: all 0.3s ease-out;

        stroke: var(--title-color, #717171);
    }

    &__option {
        background-color: var(--bg-color, #EDF2EC);
        border-radius: 2rem;

        &:hover {
            cursor: pointer;
        }

        &_active {
            background-color: var(--accordion-bg, #D6E7D2);
            transition: all 0.3s ease-out;

            .content-accordion {
                transition: all 0.3s ease-out;

                display: block;
            }

            .drop-icon {
                transition: all 0.3s ease-out;

                transform: rotate(180deg);
            }

            .drop-icon>circle {
                transition: all 0.3s ease-out;

                fill: var(--hr-color, #AEA1A1);
            }

            .drop-icon path {
                transition: all 0.3s ease-out;

                stroke: #fff;
            }
        }
    }
}

.button-accordion {
    width: 25rem;
    height: 5rem;

    display: flex;
    justify-content: space-between;

    padding: 1.6rem 4rem;

    &__text {
        color: var(--prices-color, #000000);

        font-family: 'Inter', sans-serif;
        font-weight: bold;

        font-size: 2rem;
        line-height: 1;
    }

    &:hover {
        background-color: var(--accordion-bg, #D6E7D2);
        border-radius: 2rem;
        transition: background-color 0.3s ease-out;
    }
}

.content-accordion {
    display: none;
    z-index: -1;

    padding: 0 4rem 1.2rem;

    &__hr {
        border: 0;
        border-top: 0.1rem solid var(--hr-color, #AEA1A1);
    }

    &__text {
        max-width: 16.9rem;

        font-family: 'Inter', sans-serif;
        font-weight: 300;

        color: var(--title-color, #717171);

        font-size: 1rem;
        line-height: 1;
    }

    &__price {
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        line-height: 1.67;
    }

    &__accent {
        color: var(--accent-color, #E06733);

        font-weight: bold;
        font-size: 1.6rem;

        line-height: 1.25;

        &_dollar {
            font-size: 1.2rem;

            line-height: 1.67;
        }
    }

    &__button {
        color: var(--title-color, #717171);

        font-family: 'Inter', sans-serif;
        font-weight: bold;

        font-size: 1.4rem;
        line-height: 1.43;

        text-decoration: none;

        background-color: #fff;
        border-radius: 1rem;

        padding: 0.3rem 2rem;

        &:hover {
            background-color: var(--brdr-color, #E3E1D5);
            color: var(--accent-color, #E06733);
            cursor: pointer;

            transition: all 0.3s ease-out;
        }
    }
}

.contacts {
    background-color: var(--bg-color, #EDF2EC);

    &__image {
        margin-top: 1rem;


    }
}

.cities {
    width: 45rem;
    height: 5rem;

    align-self: end;

    appearance: none;

    background-color: var(--accordion-bg, #D6E7D2);
    border: none;

    color: var(--title-color, #717171);

    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    line-height: 2;
    letter-spacing: 0.05em;

    &__list {
        display: none;

        background-color: var(--accordion-bg, #D6E7D2);

        margin: 0;
        padding: 3.4rem 3.5rem 3.1rem;

        list-style: none;

        display: none;

        transition: all 0.3s ease-out;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        padding: 0.5rem 3.5rem 0.5rem 2rem;

        box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);

        transition: all 0.3s ease-out;

        .drop-icon {
            transition: all 0.3s ease-out;

            transform: rotate(0deg);
        }

        .drop-icon>circle {
            transition: all 0.3s ease-out;

            fill: var(--hr-color, #AEA1A1);
        }
    }

    &__elem {
        padding-left: 0.6rem;

        color: var(--base-color, #499A18);

        font-family: 'Inter', sans-serif;
        font-size: 1.6rem;
        line-height: 1.7;

        border-bottom: 0.1rem solid #D9D9D9;
    }

    &__elem:hover {
        cursor: pointer;

        color: var(--title-color, #717171);

        border-bottom-color: var(--title-color, #717171);
    }

    &_active,
    &:hover {
        .cities__button {
            transition: all 0.3s ease-out;

            padding-left: 3.5rem;

            background-color: var(--dropdown-button-color, #C1E698);
            box-shadow: none;

            border: 0.1rem solid var(--accordion-bg, #D6E7D2);
        }

        .drop-icon {
            transition: all 0.3s ease-out;

            transform: rotate(180deg);
        }

        .drop-icon>circle {
            transition: all 0.3s ease-out;

            fill: var(--drop-btn-active, #8BA07E);
        }

        .cities__list {
            transition: all 0.3s ease-out;

            display: flex;
            flex-direction: column;
            gap: 1.9rem;
        }
    }

    &_selected {
        .cities__button {
            padding-left: 3.5rem;

            font-size: 1.6rem;
            line-height: 2.5;

            background-color: var(--dropdown-button-color, #C1E698);
            box-shadow: none;

            border: 0.1rem solid var(--accordion-bg, #D6E7D2);

            transition: all 0.3s ease-out;
        }
    }
}

.info {
    display: none;

    margin-top: 4.7rem;
    margin-left: 0.2rem;

    padding: 1.7rem 3.3rem 3.1rem;

    border: 1px solid #000000;
    border-radius: 2rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5;
    letter-spacing: 0.05em;

    &__value {
        color: var(--title-color, #717171);

        font-style: normal;
    }

    &__button {
        margin: 0 auto;

        display: flex;

        width: 12.2rem;
        height: 2.6rem;

        text-decoration: none;

        justify-content: center;
        align-items: center;

        color: var(--title-color, #717171);
        font-weight: bold;

        font-family: Inika;
        font-size: 1rem;
        line-height: 1.3;
    }
}

.footer {
    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        line-height: 2.5;
    }

    &__year {
        word-spacing: 1.5rem;
    }
}

.footer__link,
.footer__link:visited {
    text-decoration: none;
    color: #000000;
}

.footer__link:hover {
    transition: all 0.3s ease-out;

    color: var(--base-color, #499A18);
}

.rsschool {
    padding-left: 2rem;
}

.social {
    padding: 0;

    list-style: none;

    display: flex;
    gap: 2rem;

    &__icon>path {
        fill: #000000;
    }

    &__elem:hover {
        .social__icon>path {
            fill: var(--accent-color, #E06733);

            transition: all 0.3s ease-out;
        }
    }
}

@media screen and (min-width: 47.94em) and (max-width: 89.94em) {
    .header {}

    .logo {}

    .welcome {

        &__image {
            margin-top: -0.1rem;

            max-width: 28rem;
            max-height: 25.4rem;
        }

        &__title {
            font-size: 3.5rem;
            line-height: 1.43;
        }
    }


    .about {
        &__image {
            max-width: 25rem;
            max-height: 25.8rem;
        }
    }

    .container {
        padding: 0 5rem;

        min-width: 66.8rem;

        &__nav {
            height: 12.2rem;

            margin-left: -0.1rem;
            margin-right: 0.1rem
        }

        &__welcome {
            padding-top: 3.6rem;
            padding-bottom: 7rem;

            flex-direction: row-reverse;
        }

        &__about {
            padding-top: 4rem;
            padding-bottom: 9.5rem;

            flex-direction: column;
            align-items: center;
        }

        &__service {
            gap: 4rem;

            padding-top: 6rem;
            padding-bottom: 7rem;
        }

        &__prices {
            padding-top: 4rem;
            padding-bottom: 9.3rem;
        }

        &__contacts {
            padding-top: 4rem;

            flex-direction: column-reverse;

            gap: 24.9rem;

            align-items: center;
        }

        &__cities {
            padding: 0;
        }

        &__info {}

        &__footer {
            padding-top: 3.2rem;

            flex-direction: column;
            align-items: center;

            gap: 1.55rem;
        }
    }

    .nav {
        &__list {}

        &__link {

            &:last-child {}

            &:hover,
            &_hover {}

            &:active,
            &_active {}
        }
    }

    .column {
        &__welcome {
            max-width: 34.6rem;
            margin: 0;
        }

        &__about {
            min-width: 66.3rem;

            margin: 0;
            align-items: center;
        }

        &__prices {

            &-left {}

            &-right {
                margin-top: 9.9rem;
            }
        }

        &__contacts {
            margin: 0;

            flex-direction: column;
            justify-content: start;
            align-items: center;

            gap: 10rem;
        }
    }

    .row {

        &__service {
            flex-direction: column;

            gap: 4.3rem;
        }

        &__button-list {
            margin: 0;
        }
    }


    .text {
        font-size: 1.6rem;
        line-height: 1.56;

        &__accent {}

        &__welcome {
            margin-top: 3rem;
            margin-bottom: 3.5rem;
            margin-left: 0.5rem;
        }

        &__about {
            font-size: 2rem;
            line-height: 1.5;

            margin-top: 5.1rem;
            margin-bottom: 6.8rem;
            margin-left: -0.2rem;
        }

    }

    .button {
        &__accent {}

        &:hover,
        &:active,
        &_active {}
    }

    .subtitle {
        font-size: 3.5rem;
        line-height: 1.303;

        &__accent {}

        &__about {
            text-align: center;
        }

        &__service {}

        &__prices {
            line-height: 1.21;

            &-main {
                padding-left: 1.5rem;
            }

            &_accent {}

            &-caption {
                max-width: 29.6rem;

                font-size: 2.5rem;
                line-height: 1.4;

                margin-right: -0.1rem
            }
        }

        &__contacts {
            font-size: 4rem;
            line-height: 1.303;
        }
    }

    .service {}

    .card {
        max-width: 28rem;
        max-height: 45rem;

        &__list {
            grid-column-gap: 10.6rem;
            grid-row-gap: 3.8rem;

            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
        }

        &__image {
            width: 28rem;
        }

        &__container {}

        &__title {}

        &__text {
            margin: 1rem 3.9rem 2rem;

            text-align: center;
        }
    }

    .prices {
        &__button {
            margin-top: 2.9rem;
            margin-bottom: 2.9rem;

            margin-right: 0.1rem
        }

        &__image {
            margin-right: 0.4rem
        }
    }

    .accordion {


        .drop-icon {}

        .drop-icon>circle {}

        .drop-icon path {}

        &__option {


            &:hover {}

            &_active {


                .content-accordion {}

                .drop-icon {}

                .drop-icon>circle {}

                .drop-icon path {}
            }
        }
    }

    .button-accordion {

        &__text {}

        &:hover {}
    }

    .content-accordion {


        &__hr {}

        &__text {}

        &__price {}

        &__accent {


            &_dollar {}
        }

        &__button {


            &:hover {}
        }
    }

    .contacts {

        &__image {
            margin-top: 0rem;
            margin-left: 2rem;

            width: 20rem;
            height: 24.85rem;
        }
    }

    .cities {


        &__list {}

        &__button {


            .drop-icon {}

            .drop-icon>circle {}
        }

        &__elem {}

        &__elem:hover {}

        &_active,
        &:hover {
            .cities__button {}

            .drop-icon {}

            .drop-icon>circle {}

            .cities__list {}
        }

        &_selected {
            .cities__button {}
        }
    }

    .info {

        &__value {}

        &__button {}
    }

    .footer {

        &__text {
            line-height: 1.21;
        }

        &__year {
            word-spacing: 1.7rem;
            margin-right: 0.2rem;
        }
    }

    .footer__link,
    .footer__link:visited {}

    .footer__link:hover {}

    .rsschool {
        padding-left: 0;
    }

    .social {}
}