@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inika";
  src: url("../fonts/Inika/Inika-Regular.ttf");
}
@font-face {
  font-family: "Inika";
  src: url("../fonts/Inika/Inika-Bold.ttf");
  font-weight: bold;
}
:root {
  font-size: 62.5%;
  --text-color: #636060;
  --base-color: #499A18;
  --accent-color: #E06733;
  --bg-color: #EDF2EC;
  --title-color: #717171;
  --nav-links-color: #010201;
  --brdr-color: #E3E1D5;
  --prices-color: #000000;
  --hr-color: #AEA1A1;
  --drop-btn-active: #8BA07E;
  --accordion-bg: #D6E7D2;
  --dropdown-button-color: #C1E698;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
}

.header {
  background-color: var(--bg-color, #EDF2EC);
}

.logo {
  display: block;
  width: 6.8rem;
  height: 3.2rem;
  background-image: url("../icons/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.container {
  max-width: 122.2rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container__nav {
  height: 13.4rem;
  padding: 0;
  align-items: center;
}
.container__welcome {
  padding: 5.5rem 0 6.3rem;
}
.container__about {
  padding: 9.3rem 0 9.4rem;
}
.container__service {
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0 12.1rem;
}
.container__prices {
  padding: 3.7rem 0 11.5rem;
}
.container__contacts {
  padding-top: 4.5rem;
}
.container__cities {
  padding-top: 8.8rem;
}
.container__info {
  padding-bottom: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.container__footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container__burger {
  display: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav__link {
  color: var(--nav-links-color, #010201);
  font-family: "Inika", sans-serif;
  font-size: 1.6rem;
  line-height: 3.125;
  padding: 2.5rem 2.35rem;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.nav__link_last:last-child {
  padding-right: 0;
}
.nav__link:hover, .nav__link_hover {
  color: var(--accent-color, #E06733);
}
.nav__link:active, .nav__link_active {
  color: var(--accent-color, #E06733);
  font-weight: bold;
}

.welcome {
  background-color: var(--bg-color, #EDF2EC);
}
.welcome__image {
  background-image: url("../images/welcome/leafs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 44.9rem;
  height: 40.7rem;
  margin-top: 0.7rem;
}
.welcome__title {
  margin: 0;
  color: var(--title-color, #717171);
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.11;
}

.column {
  display: flex;
  flex-direction: column;
}
.column__welcome {
  max-width: 54.9rem;
  margin-top: 4.3rem;
}
.column__about {
  max-width: 60.5rem;
  margin-top: 6.8rem;
}
.column__prices-left {
  gap: 6rem;
}
.column__prices-right {
  text-align: right;
  align-items: end;
}
.column__contacts {
  margin-top: 1.5rem;
  width: 70.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.row {
  display: flex;
}
.row__service {
  gap: 14.2rem;
}
.row__button-list {
  gap: 3.8rem;
  align-items: center;
  margin-top: 0.3rem;
}

.text {
  margin: 0;
  color: var(--text-color, #636060);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1.75;
}
.text__accent {
  color: var(--base-color, #499A18);
}
.text__welcome {
  max-width: 52.5rem;
  margin-top: 4.4rem;
  margin-bottom: 4.72rem;
}
.text__about {
  line-height: 1.5;
  margin-top: 3.8rem;
}

.button {
  padding: 0;
  color: var(--accent-color, #E06733);
  border: 0.1rem solid var(--accent-color, #E06733);
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: "Inika", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  cursor: pointer;
  width: 16.1rem;
  height: 5rem;
  transition: all 0.3s ease-out;
}
.button__accent {
  color: black;
  border-width: 0.2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
  width: 15.8rem;
  height: 4.4rem;
}
.button:hover, .button:active, .button_active {
  color: white;
  background-color: var(--accent-color, #E06733);
}

.subtitle {
  margin: 0;
  color: var(--base-color, #499A18);
  font-family: "Inika", sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1.3;
}
.subtitle__accent {
  color: var(--accent-color, #E06733);
}
.subtitle__about {
  max-width: 46.3rem;
}
.subtitle__service {
  max-width: 30.6rem;
  flex-shrink: 0;
}
.subtitle__prices {
  color: var(--prices-color, #000000);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  max-width: 45.2rem;
}
.subtitle__prices_accent {
  color: var(--base-color, #499A18);
}
.subtitle__contacts {
  font-weight: bold;
}

.service {
  background-color: var(--bg-color, #EDF2EC);
}

.card {
  width: 33rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  row-gap: 5.5rem;
}
.card__image {
  border-radius: 2rem 2rem 0 0;
  width: 33rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid var(--brdr-color, #E3E1D5);
  border-radius: 0 0 2rem 2rem;
}
.card__title {
  margin: 0.9rem 0 0;
  color: var(--accent-color, #E06733);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}
.card__text {
  margin: 1.5rem 0 3.6rem;
  color: var(--title-color, #717171);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.25;
}
.card_inactive {
  filter: blur(0.4rem);
}

.prices__button {
  font-weight: bold;
  margin-top: 3.8rem;
  margin-bottom: 3.8rem;
}
.prices__image {
  background-image: url("../images/prices/leafs.jpg");
  background-repeat: no-repeat;
  width: 15.2rem;
  height: 17.5rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border: 0.1rem solid var(--brdr-color, #E3E1D5);
  border-radius: 2rem;
  padding: 3.1rem 4.1rem;
}
.accordion .drop-icon {
  transition: all 0.3s ease-out;
  transform: rotate(0deg);
}
.accordion .drop-icon > circle {
  transition: all 0.3s ease-out;
  fill: #D9D9D9;
}
.accordion .drop-icon path {
  transition: all 0.3s ease-out;
  stroke: var(--title-color, #717171);
}
.accordion__option {
  background-color: var(--bg-color, #EDF2EC);
  border-radius: 2rem;
}
.accordion__option:hover {
  cursor: pointer;
}
.accordion__option_active {
  background-color: var(--accordion-bg, #D6E7D2);
  transition: all 0.3s ease-out;
}
.accordion__option_active .content-accordion {
  transition: all 0.3s ease-out;
  display: block;
}
.accordion__option_active .drop-icon {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}
.accordion__option_active .drop-icon > circle {
  transition: all 0.3s ease-out;
  fill: var(--hr-color, #AEA1A1);
}
.accordion__option_active .drop-icon path {
  transition: all 0.3s ease-out;
  stroke: #fff;
}

.button-accordion {
  width: 25rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem 4rem;
}
.button-accordion__text {
  color: var(--prices-color, #000000);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}
.button-accordion:hover {
  background-color: var(--accordion-bg, #D6E7D2);
  border-radius: 2rem;
  transition: background-color 0.3s ease-out;
}

.content-accordion {
  display: none;
  z-index: -1;
  padding: 0 4rem 1.2rem;
}
.content-accordion__hr {
  border: 0;
  border-top: 0.1rem solid var(--hr-color, #AEA1A1);
}
.content-accordion__text {
  max-width: 16.9rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--title-color, #717171);
  font-size: 1rem;
  line-height: 1;
}
.content-accordion__price {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.67;
}
.content-accordion__accent {
  color: var(--accent-color, #E06733);
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.25;
}
.content-accordion__accent_dollar {
  font-size: 1.2rem;
  line-height: 1.67;
}
.content-accordion__button {
  color: var(--title-color, #717171);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.43;
  text-decoration: none;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.3rem 2rem;
}
.content-accordion__button:hover {
  background-color: var(--brdr-color, #E3E1D5);
  color: var(--accent-color, #E06733);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.contacts {
  background-color: var(--bg-color, #EDF2EC);
}
.contacts__image {
  margin-top: 1rem;
}

.cities {
  width: 45rem;
  height: 5rem;
  align-self: end;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--accordion-bg, #D6E7D2);
  border: none;
  color: var(--title-color, #717171);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 0.05em;
}
.cities__list {
  display: none;
  position: relative;
  z-index: 1;
  background-color: var(--accordion-bg, #D6E7D2);
  margin: 0;
  padding: 3.4rem 3.5rem 3.1rem;
  list-style: none;
  transition: all 0.3s ease-out;
}
.cities__list_closed {
  display: none;
}
.cities__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 3.5rem 0.5rem 2rem;
  box-shadow: 0px 4px 4px 0px hsla(0deg, 0%, 0%, 0.25);
  transition: all 0.3s ease-out;
}
.cities__button .drop-icon {
  transition: all 0.3s ease-out;
  transform: rotate(0deg);
}
.cities__button .drop-icon > circle {
  transition: all 0.3s ease-out;
  fill: var(--hr-color, #AEA1A1);
}
.cities__elem {
  padding-left: 0.6rem;
  color: var(--base-color, #499A18);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  border-bottom: 0.1rem solid #D9D9D9;
}
.cities__elem:hover {
  cursor: pointer;
  color: var(--title-color, #717171);
  border-bottom-color: var(--title-color, #717171);
}
.cities_active .cities__button, .cities:hover .cities__button {
  transition: all 0.3s ease-out;
  padding-left: 3.5rem;
  background-color: var(--dropdown-button-color, #C1E698);
  box-shadow: none;
  border: 0.1rem solid var(--accordion-bg, #D6E7D2);
}
.cities_active .drop-icon, .cities:hover .drop-icon {
  transition: all 0.3s ease-out;
  transform: rotate(180deg);
}
.cities_active .drop-icon > circle, .cities:hover .drop-icon > circle {
  transition: all 0.3s ease-out;
  fill: var(--drop-btn-active, #8BA07E);
}
.cities_active .cities__list, .cities:hover .cities__list {
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
  position: relative;
  z-index: 1;
}
.cities_active .cities__list_closed, .cities:hover .cities__list_closed {
  display: none;
}
.cities_selected .cities__button {
  padding-left: 3.5rem;
  font-size: 1.6rem;
  line-height: 2.5;
  background-color: var(--dropdown-button-color, #C1E698);
  box-shadow: none;
  border: 0.1rem solid var(--accordion-bg, #D6E7D2);
  transition: all 0.3s ease-out;
}

.info {
  display: none;
  width: 100%;
  margin-top: 4.7rem;
  margin-left: 0.2rem;
  padding: 1.7rem 3.3rem 3.1rem;
  border: 1px solid #000000;
  border-radius: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2.5;
  letter-spacing: 0.05em;
}
.info__value {
  color: var(--title-color, #717171);
  font-style: normal;
}
.info__button {
  margin: 0 auto;
  display: flex;
  width: 12.2rem;
  height: 2.6rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--title-color, #717171);
  font-weight: bold;
  font-family: Inika;
  font-size: 1rem;
  line-height: 1.3;
}
.info_opened {
  display: block;
}

.footer__text {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2.5;
}
.footer__year {
  word-spacing: 1.5rem;
}

.footer__link,
.footer__link:visited {
  text-decoration: none;
  color: #000000;
}

.footer__link:hover {
  transition: all 0.3s ease-out;
  color: var(--base-color, #499A18);
}

.rsschool {
  padding-left: 2rem;
}

.social {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}
.social__icon > path {
  fill: #000000;
}
.social__elem:hover .social__icon > path {
  fill: var(--accent-color, #E06733);
  transition: all 0.3s ease-out;
}

/* adaptive layout for screens less than 1440px*/
@media screen and (max-width: 89.94em) {
  .container {
    max-width: 100rem;
  }
}
/* adaptive layout for tablets less 1088px*/
@media screen and (max-width: 68em) {
  .welcome__image {
    margin-top: -0.1rem;
    max-width: 28rem;
    max-height: 25.4rem;
  }
  .welcome__title {
    font-size: 3.5rem;
    line-height: 1.43;
  }
  .about__image {
    max-width: 25rem;
    max-height: 25.8rem;
  }
  .container {
    padding: 0 5rem;
    min-width: 66.8rem;
  }
  .container__nav {
    height: 12.2rem;
    margin-left: -0.1rem;
    margin-right: 0.1rem;
  }
  .container__welcome {
    padding-top: 3.6rem;
    padding-bottom: 7rem;
    flex-direction: row-reverse;
  }
  .container__about {
    padding-top: 4rem;
    padding-bottom: 9.5rem;
    flex-direction: column;
    align-items: center;
  }
  .container__service {
    gap: 4rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
  }
  .container__prices {
    padding-top: 4rem;
    padding-bottom: 9.3rem;
  }
  .container__contacts {
    padding-top: 4rem;
    flex-direction: column-reverse;
    gap: 24.9rem;
    align-items: center;
  }
  .container__cities {
    padding: 0;
  }
  .container__footer {
    padding-top: 3.2rem;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
  }
  .column__welcome {
    max-width: 34.6rem;
    margin: 0;
  }
  .column__about {
    min-width: 66.3rem;
    margin: 0;
    align-items: center;
  }
  .column__prices-right {
    margin-top: 9.9rem;
  }
  .column__contacts {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 6rem;
  }
  .row__service {
    flex-direction: column;
    gap: 4.3rem;
  }
  .row__button-list {
    margin: 0;
  }
  .info {
    margin-top: 6rem;
  }
  .text {
    font-size: 1.6rem;
    line-height: 1.56;
  }
  .text__welcome {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    margin-left: 0.5rem;
  }
  .text__about {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 5.1rem;
    margin-bottom: 6.8rem;
    margin-left: -0.2rem;
  }
  .subtitle {
    font-size: 3.5rem;
    line-height: 1.303;
  }
  .subtitle__about {
    text-align: center;
  }
  .subtitle__prices {
    line-height: 1.21;
  }
  .subtitle__prices-main {
    padding-left: 1.5rem;
  }
  .subtitle__prices-caption {
    max-width: 29.6rem;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-right: -0.1rem;
  }
  .subtitle__contacts {
    font-size: 4rem;
    line-height: 1.303;
  }
  .card {
    max-width: 28rem;
    max-height: 45rem;
  }
  .card__list {
    -moz-column-gap: 10.6rem;
         column-gap: 10.6rem;
    row-gap: 3.8rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .card__image {
    width: 28rem;
  }
  .card__text {
    margin: 1rem 3.9rem 2rem;
    text-align: center;
  }
  .prices__button {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
    margin-right: 0.1rem;
  }
  .prices__image {
    margin-right: 0.4rem;
  }
  .content-accordion {
    padding-left: 5%;
    padding-right: 5%;
  }
  .contacts__image {
    margin-top: 0rem;
    margin-left: 2rem;
    width: 20rem;
    height: 24.85rem;
  }
  .footer__text {
    line-height: 1.21;
  }
  .footer__year {
    word-spacing: 1.7rem;
    margin-right: 0.2rem;
  }
  .rsschool {
    padding-left: 0;
  }
}
/* adaptive layout for mobile phones less than 720px*/
@media screen and (max-width: 45em) {
  .welcome__image {
    display: none;
  }
  .welcome__title {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  .about__image {
    max-width: 15rem;
    max-height: 15.3rem;
  }
  .container {
    padding: 0 2.5rem;
    min-width: 33rem;
  }
  .container__nav {
    height: 10.2rem;
    margin-left: -0.1rem;
    margin-right: 0.1rem;
  }
  .container__welcome {
    padding-top: 2rem;
    padding-bottom: 2.4rem;
    justify-content: start;
  }
  .container__about {
    padding-top: 3rem;
    padding-bottom: 2.75rem;
    flex-direction: column;
    align-items: center;
  }
  .container__service {
    gap: 4rem;
    padding-top: 3rem;
    padding-bottom: 2.6rem;
  }
  .container__prices {
    padding-top: 2.55rem;
    padding-bottom: 4.05rem;
    flex-direction: column;
  }
  .container__contacts {
    padding-top: 2.5rem;
    flex-direction: column-reverse;
    gap: 13.19rem;
    align-items: center;
  }
  .container__cities {
    padding: 0;
  }
  .container__footer {
    padding-top: 2.15rem;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
  }
  .container__burger {
    display: block;
    position: relative;
    z-index: 2;
    padding: 1rem;
    margin-right: -1rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
  }
  .container__burger:hover {
    cursor: pointer;
    background-color: var(--accordion-bg, #D6E7D2);
    transition: all 0.3s ease-in-out;
  }
  .container__burger:hover .burger__icon line {
    stroke: var(--base-color, #499A18);
    transition: all 0.3s ease-in-out;
  }
  .nav {
    background-color: var(--bg-color, #EDF2EC);
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    z-index: 1;
    top: 0;
    right: -50%;
    padding-top: 9.6rem;
    padding-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    transform: scaleX(0);
  }
  .nav__list {
    flex-direction: column;
    gap: 0rem;
  }
  .nav__elem {
    min-width: 20rem;
  }
  .nav__link {
    display: block;
    width: 100%;
    line-height: 1;
  }
  .nav__link:last-child {
    padding-right: 2.5rem;
  }
  .nav__link:hover, .nav__link_hover {
    background-color: var(--accordion-bg, #D6E7D2);
  }
  .nav__link_active {
    font-weight: normal;
    color: var(--nav-links-color, #010201);
  }
  .nav__burger_active .burger__icon > line:first-child,
.nav__burger_active line:last-child {
    transition: all 0.3s ease-in-out;
    display: none;
  }
  .nav__burger_active .burger__icon > line:nth-child(2) {
    transition: all 0.3s ease-in-out;
    transform: translate(1.5rem, -0.6rem) rotate(45deg);
  }
  .nav__burger_active .burger__icon > line:nth-child(3) {
    transition: all 0.3s ease-in-out;
    transform: translate(-1rem, 1.65rem) rotate(-45deg);
  }
  .nav__burger_active .nav {
    right: 0;
    transition: all 0.5s ease-in-out;
    transform: scaleX(100%);
  }
  .column__welcome {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0;
  }
  .column__about {
    min-width: 0;
    margin: 0;
    align-items: center;
  }
  .column__prices-left {
    gap: 3.7rem;
    text-align: center;
    padding-bottom: 1.9rem;
  }
  .column__prices-right {
    margin-top: 0;
    align-items: center;
    text-align: center;
  }
  .column__contacts {
    margin: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: auto;
    gap: 8.1rem;
  }
  .column__nav {
    width: 100%;
    height: 100%;
  }
  .row__service {
    flex-direction: column;
    gap: 3.9rem;
  }
  .row__button-list {
    margin: 0;
    flex-wrap: wrap;
    gap: 0.95rem;
  }
  .text {
    margin-left: 0;
    font-size: 1.6rem;
    line-height: 1.56;
  }
  .text__welcome {
    margin-top: 2rem;
    margin-bottom: 2.62rem;
  }
  .text__about {
    font-size: 1.5rem;
    line-height: 1.67;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
  .button {
    width: 12.1rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .button__accent {
    width: 10rem;
    height: 3.41rem;
    font-size: 1rem;
    line-height: 2;
  }
  .subtitle {
    font-size: 2.5rem;
    line-height: 1.303;
  }
  .subtitle__about {
    max-width: 28.8rem;
    text-align: center;
  }
  .subtitle__service {
    max-width: 18.7rem;
  }
  .subtitle__prices {
    padding-left: 0;
    line-height: 1.21;
  }
  .subtitle__prices-main {
    font-size: 2.5rem;
    text-align: center;
  }
  .subtitle__prices-caption {
    max-width: 23rem;
    font-size: 2rem;
    line-height: 1.75;
  }
  .card {
    max-width: 28rem;
    max-height: 45rem;
  }
  .card__list {
    justify-content: center;
    row-gap: 3.4rem;
    grid-template-columns: repeat(1, auto);
  }
  .card__image {
    width: 28rem;
  }
  .card__text {
    margin: 1rem 3.9rem 2rem;
    text-align: center;
  }
  .prices__button {
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-right: 0.1rem;
  }
  .prices__image {
    display: none;
  }
  .accordion {
    padding: 2.9rem 2.2rem 2.9rem;
    margin: 0 5.3rem;
    gap: 1.35rem;
  }
  .button-accordion {
    width: 100%;
    height: 4.972rem;
    padding-left: 17%;
    padding-right: 22.4%;
  }
  .button-accordion__text {
    font-size: 1.5rem;
    line-height: 1.33;
  }
  .contacts__image {
    margin-top: 0rem;
    margin-left: 0;
    margin-right: 0.3rem;
    width: 10rem;
    height: 12.425rem;
  }
  .cities {
    width: 30rem;
  }
  .cities__button {
    padding-right: 2.2rem;
  }
  .footer__text {
    line-height: 1.21;
  }
  .footer__year {
    word-spacing: 1.7rem;
    margin-right: 0.2rem;
  }
  .rsschool {
    padding-left: 0;
  }
  .social {
    margin-top: -0.2rem;
    margin-bottom: 1.6rem;
  }
}
/* adaptive layout for mobile phones with width less than 330px*/
@media screen and (max-width: 20.625em) {
  .container {
    min-width: 1vw;
    padding-left: 3%;
    padding-right: 3%;
  }
  .container__cities {
    width: 20rem;
  }
  .cities {
    width: 100%;
  }
  .button-accordion {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}/*# sourceMappingURL=styles.css.map */